.homepage-container {
    padding: 10px;
    justify-content: space-around;

     
}
.nav-btn,
h3 {
    display: flex;
    justify-content: center;
    color: rgb(126, 126, 126);
}
.listadd-btn {
    outline: 0;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    backface-visibility: none;
    background-color: black;
    color: white;
    transition: 250ms;
    cursor: pointer;
    background-color: #00b712;
    background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
       
}
.logout-btn {
    outline: 0;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    backface-visibility: none;
    background-color: rgb(212, 52, 52);
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 40px;
    transition: 250ms;
}
.logout-btn:active {
    transform: scale(0.98);
}
.listadd-btn:hover {
    transform: scale(1.1);
}
.listadd-btn:active {
    transform: scale(1);
}

.cardlist-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr)); */
    grid-template-columns: repeat(5,1fr);
    grid-gap: 2em;
    justify-items: stretch;
    grid-auto-rows: auto;
}

@media only screen and (max-width: 1750px) {
   .cardlist-container {
       grid-template-columns: repeat(4, 1fr);
       
   }
}
@media only screen and (max-width: 1420px) {
    .cardlist-container {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media only screen and (max-width: 1060px) {
    .cardlist-container {
        grid-template-columns: repeat(2, 1fr);

    }
}
@media only screen and (max-width: 700px) {
    .cardlist-container {
        grid-template-columns: repeat(1, 1fr);

    }
}