.task-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 0px 0px 10px 10px;
    /* box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.1); */
    padding: 4px 18px;
    background-color: rgb(196, 255, 201);
    max-width: 240px;
    border: 1px solid rgb(85, 202, 85);
    font-family: Arial, Helvetica, sans-serif;
}
.remove-card{
    display: flex;
    justify-content: flex-end;
}
.task-title {
    /* margin: 0px 5px; */
    margin-top:5px ;
    max-width: inherit;
    padding: 4px;
    outline: 0;
    border: 0;
    border: 1px solid rgb(3, 199, 3);
}

.task-description {
    /* margin: 0px 5px; */
    max-width: inherit;
    padding: 4px;
    margin-top:5px;
    outline: 0;
    border: 0;
    border: 1px solid rgb(3, 199, 3);
}

.card-remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    border: 0;
    border-radius: 100%;
    background-color: rgb(238, 104, 104);
    color: white;
    cursor: pointer;
    transition: 250ms;
    outline: 0;
}

.card-remove-btn:hover {
    background-color: rgb(255, 0, 0);
}
.card-remove-btn:active {
    transform: scale(0.98);
}